<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="QueueConfigurations" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Host=localhost;Database=OrderManagementService;Username=postgres;Password=admin"
			 providerName="Npgsql" />
		<add name="IntegrationEvents"
			 connectionString="Host=localhost;Database=IntegrationEvents;Username=postgres;Password=admin"
			 providerName="Npgsql" />

	</connectionStrings>

	<QueueConfigurations>
		<RabbitMQ>
			<HostName>localhost</HostName>
			<Port>5672</Port>
			<!--<UserName>guest</UserName>-->
			<!--<Password>guest</Password>-->
			<Exchanges>
				<Exchange>
					<Name>IntegrationExchange</Name>
					<Type>direct</Type>
					<Durable>false</Durable>
					<Category>2</Category>
				</Exchange>
				<Exchange>
					<Name>PulseExchange</Name>
					<Type>direct</Type>
					<Durable>false</Durable>
					<Category>1</Category>
				</Exchange>
			</Exchanges>
			<Queues>
				<Queue>
					<Name>CustomerQueue</Name>
					<Exchange>IntegrationExchange</Exchange>
					<ExchangeCategory>2</ExchangeCategory>
					<RoutingKey>CustomerEvent</RoutingKey>
					<Durable>true</Durable>
				</Queue>
				<Queue>
					<Name>OrderQueue</Name>
					<Exchange>IntegrationExchange</Exchange>
					<ExchangeCategory>2</ExchangeCategory>
					<RoutingKey>OrderEvent</RoutingKey>
					<Durable>true</Durable>
				</Queue>
				<Queue>
					<Name>HeartBeatQueue</Name>
					<Exchange>PulseExchange</Exchange>
					<ExchangeCategory>1</ExchangeCategory>
					<RoutingKey>HeartBeatEvent</RoutingKey>
					<Durable>true</Durable>
				</Queue>
			</Queues>
		</RabbitMQ>
	</QueueConfigurations>


</configuration>